* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

main section.hsl-ranges {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.hsl-ranges div.form-container {
  width: 500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.hsl-ranges div.form-container form label, main section.hsl-ranges div.form-container form input {
  display: block;
}

main section.hsl-ranges div.form-container form label {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-block;
  margin: 10px 0px 5px 0;
  text-align: center;
  font-size: .9rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

main section.hsl-ranges div.form-container form input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 400px;
  background: rgba(255, 255, 255, 0.5);
}

main section.hsl-ranges div.form-container form input[type=range]#hue {
  background: -webkit-gradient(linear, left top, right top, from(red), color-stop(yellow), color-stop(lime), color-stop(cyan), color-stop(blue), color-stop(magenta), to(red));
  background: linear-gradient(90deg, red, yellow, lime, cyan, blue, magenta, red);
}

main section.hsl-ranges div.form-container form input[type=range]#saturation {
  background: -webkit-gradient(linear, left top, right top, from(white), to(#ffaa00));
  background: linear-gradient(90deg, white, #ffaa00);
}

main section.hsl-ranges div.form-container form input[type=range]#brightness {
  background: -webkit-gradient(linear, left top, right top, from(black), to(white));
  background: linear-gradient(90deg, black, white);
}

main section.hsl-ranges div.form-container form input[type=range]:focus {
  outline: none;
}

main section.hsl-ranges div.form-container form input[type=range]::-webkit-slider-runnable-track {
  width: 400px;
  height: 8px;
  cursor: pointer;
  border-radius: 0px;
  border: none;
}

main section.hsl-ranges div.form-container form input[type=range]::-webkit-slider-thumb {
  border: 0px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  height: 20px;
  width: 10px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

main section.hsl-ranges div.form-container .output {
  width: 200px;
  height: auto;
  margin: 20px auto;
  text-align: center;
  font-size: .9rem;
  color: #000000;
}

main section.hsl-ranges div.form-container .output span {
  outline: none;
}

main section.hsl-ranges div.form-container .output span:focus {
  outline: 2px solid #6680ff;
}

main section.palette-cards {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.palette-cards .palette {
  width: 29%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.palette-cards .palette__container {
  width: 420px;
  height: 140px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  position: relative;
}

main section.palette-cards .palette__container .color-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

main section.palette-cards .palette__container .color-container .color {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

main section.palette-cards .palette__container .color-container .color.color1 {
  background-color: #505050;
}

main section.palette-cards .palette__container .color-container .color.color2 {
  background-color: #B5B5B5;
}

main section.palette-cards .palette__container .color-container .color.color3 {
  background-color: #666666;
}

main section.palette-cards .palette__container .color-container .color.color4 {
  background-color: #000000;
}

main section.palette-cards .palette__container .color-container .color.color5 {
  background-color: #ffffff;
}

main section.palette-cards .palette__container .color-container p {
  font-size: .9rem;
  font-weight: 600;
  outline: none;
  text-transform: uppercase;
}

main section.palette-cards .palette__container .color-container p:focus {
  outline: 2px solid #5454ff;
}

main section.palette-cards .palette__container h2 {
  position: absolute;
  top: -30px;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  letter-spacing: -.2px;
}

main section.palette-cards .palette__container img {
  position: absolute;
  top: -30px;
  right: 5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: .3;
  cursor: pointer;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}

main section.palette-cards .cards {
  width: 71%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

main section.palette-cards .cards__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px;
}

main section.palette-cards .cards__container .card {
  width: 250px;
  height: 250px;
  background-color: #B5B5B5;
  padding: 0px;
  position: relative;
}

main section.palette-cards .cards__container .card h3 {
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: .96rem;
  font-weight: 500;
  text-align: center;
  opacity: 1;
  letter-spacing: 0px;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

main section.palette-cards .cards__container .card .background {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #505050;
}

main section.palette-cards .cards__container .card .circle1 {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #B5B5B5;
}

main section.palette-cards .cards__container .card .circle2 {
  position: absolute;
  top: 20%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000000;
}

main section.palette-cards .cards__container .card .circle3 {
  position: absolute;
  top: 24%;
  left: 38%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}

main section.palette-cards .cards__container .card h4 {
  position: absolute;
  top: 56%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  color: #ffffff;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

main section.palette-cards .cards__container .card .button {
  position: absolute;
  top: 82%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 120px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.palette-cards .cards__container .card p {
  position: absolute;
  top: 82%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Open Sans";
  font-size: .9rem;
  font-weight: 600;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

main section.palette-cards .cards__container .card.card1 .background {
  background-color: #505050;
  -webkit-box-shadow: 0 10px 28px 0px rgba(80, 80, 80, 0.3);
          box-shadow: 0 10px 28px 0px rgba(80, 80, 80, 0.3);
}

main section.palette-cards .cards__container .card.card1 .circle1 {
  background-color: #B5B5B5;
}

main section.palette-cards .cards__container .card.card1 .circle2 {
  background-color: #000000;
}

main section.palette-cards .cards__container .card.card1 .circle3 {
  background-color: #ffffff;
}

main section.palette-cards .cards__container .card.card1 h4 {
  color: #ffffff;
}

main section.palette-cards .cards__container .card.card1 .button {
  background-color: #ffffff;
}

main section.palette-cards .cards__container .card.card1 p {
  color: #000000;
}

main section.palette-cards .cards__container .card.card2 .background {
  background-color: #B5B5B5;
  -webkit-box-shadow: 0 10px 28px 0px rgba(181, 181, 181, 0.4);
          box-shadow: 0 10px 28px 0px rgba(181, 181, 181, 0.4);
}

main section.palette-cards .cards__container .card.card2 .circle1 {
  background-color: #505050;
}

main section.palette-cards .cards__container .card.card2 .circle2 {
  background-color: #000000;
}

main section.palette-cards .cards__container .card.card2 .circle3 {
  background-color: #ffffff;
}

main section.palette-cards .cards__container .card.card2 h4 {
  color: #000000;
}

main section.palette-cards .cards__container .card.card2 .button {
  background-color: #000000;
}

main section.palette-cards .cards__container .card.card2 p {
  color: #ffffff;
}

main section.palette-cards .cards__container .card.card3 .background {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 28px 0px rgba(80, 80, 80, 0.1);
          box-shadow: 0 10px 28px 0px rgba(80, 80, 80, 0.1);
}

main section.palette-cards .cards__container .card.card3 .circle1 {
  background-color: #505050;
}

main section.palette-cards .cards__container .card.card3 .circle2 {
  background-color: #000000;
}

main section.palette-cards .cards__container .card.card3 .circle3 {
  background-color: #B5B5B5;
}

main section.palette-cards .cards__container .card.card3 h4 {
  color: #000000;
}

main section.palette-cards .cards__container .card.card3 .button {
  background-color: #505050;
}

main section.palette-cards .cards__container .card.card3 p {
  color: #ffffff;
}

main section.palette-cards .cards__container .card.card4 .background {
  background-color: #000000;
  -webkit-box-shadow: 0 10px 28px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 28px 0px rgba(0, 0, 0, 0.1);
}

main section.palette-cards .cards__container .card.card4 .circle1 {
  background-color: #B5B5B5;
}

main section.palette-cards .cards__container .card.card4 .circle2 {
  background-color: #ffffff;
}

main section.palette-cards .cards__container .card.card4 .circle3 {
  background-color: #666666;
}

main section.palette-cards .cards__container .card.card4 h4 {
  color: #ffffff;
}

main section.palette-cards .cards__container .card.card4 .button {
  color: #000000;
  background-color: #B5B5B5;
}

main section.palette-cards .cards__container .card.card4 p {
  color: #000000;
}
/*# sourceMappingURL=style.css.map */